.hero {
  text-align: center;
  background-image: $hero-bg;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  h1 {
    font-size: 60px;
    color: $white-color;
  }

  p {
    font-size: 25px;
    margin: 50px;
    color: $white-color;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      width: 500px;
      height: 700px;
      overflow: hidden;
      transition: transform 0.3s ease-in-out;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease-in-out;
        border-radius: 8px;

        &:hover {
          transform: scale(1.1);
        }
      }

      button,
      a {
        all: unset;
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

section {
  h1 {
    color: $white-color;
    font-size: 60px;
  }

  form {
    div {
      color: $white-color;
      padding: 5px;
    }
  }
}

.super-main {
  text-align: center;
  background-image: $hero-bg;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  display: grid;
  gap: 20px;
  justify-items: center;

  .heroes-box {
    width: 100%;
    background-color: $white-color;
    margin: 20px 0;
    padding: 15px;
    box-sizing: border-box;
    border: 2px solid $black-color;
  }

  .hero-1-box,
  .hero-2-box,
  .hero-vs-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    img {
      height: auto;
    }

    .text {
      text-align: left;
    }
  }

  .hero-1-box {
    img {
      width: 40%;
      margin-right: 20px;
    }

    .text {
      width: 55%;
    }
  }

  .hero-2-box {
    img {
      width: 40%;
      margin-left: 20px;
    }

    .text {
      width: 55%;
    }
  }

  .hero-vs-box {
    img {
      width: 30%;
    }

    .text {
      width: 40%;
      text-align: center;
    }
  }

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
    margin: 8px;
    color: $black-color;
    text-align: justify;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .text-contact {
    color: $white-color;
    margin-bottom: 20px;
  }

  .img-heroes {
    max-width: 20%;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
  }

  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    align-items: center;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .gender-options {
    display: flex;
    gap: 15px;
    justify-content: space-evenly;
  }
  
  .form-actions {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    gap: 10px;
  }
}

